@import url('https://fonts.googleapis.com/css2? familia = Arima: peso @ 200 &familia= Roboto:ital,peso@0,100;0,300;1,500 & display=swap');

  
  
  .botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    padding: 4px 30px; }
    #botonera img {
      width: 200px; }
      @media (min-width: 280px) and (max-width: 320px) {
        .botonera img {
          width: 150px; } }
    #botonera ul {
      display: flex;
      background-color: #0d0d0d; }
      #botonera ul li {
        list-style: none;
        margin-right: 10px; }
        #botonera ul li a {
          color: #F8F5F5;
          font-size: 1em;
          text-decoration: none;
          font-family: 'Roboto', sans-serif; }
          .botonera ul li a:hover {
            color: #737373;
         }
  
  * {
    padding: 0;
    margin: 0; }
  
  h1,
  h2,
  h3,
  a {
    font-family: "Roboto", sans-serif;
    color: #F8F5F5;
    padding: 10px 30px; }
  
  h1 {
    font-size: 2em; }
  
  
  .bttn-outline-light {
    width: 50%;
    height: 30px;
    background-color: #0d0d0d;
    color: #F8F5F5;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border-color: #F8F5F5;
    font-size: 1rem;


    /****display flex****/
    display: flex;
    justify-content: center;
    align-items: center; }
  
  /* estudio */
  main {
    background-color: #0d0d0d; }
    p h2 {
      font-size: 1.5em;
      line-height: 2,5rem;
      padding: 50px;
      margin: 20px auto;
      color: #F8F5F5; 
      font-family: "Roboto", sans-serif; }

.text-white{
  font-family: "Roboto", sans-serif;
}
  
footer {
    background-color: #0d0d0d;
    color: #F8F5F5;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

 .list-foot{
        display: flex;
        font-size: 1em;
        line-height: 2rem;
        font-family: "Roboto", sans-serif;
        justify-content: flex-start;
	      align-items: flex-start;
}

.contenedor-a{
  display: flex;
  font-size: 1em;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #0d0d0d;
  color: #F8F5F5;
}


.container-fluid{
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  background-color: #0d0d0d;
  color: #F8F5F5;
  font-size: 1em;
  padding: 10px 10px;
  align-items: flex-end;
  justify-content: end;
  padding: 10px;
  margin: 10px;
}


    
@media (min-width: 280px) and (max-width: 394px) {
.contenedor-a{
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  background-color: #737373;
  color: #0d0d0d ;
  font-size: 1em;
  padding: 10px 20px; 
  text-align: center;

}



#botonera ul li{
  font-family: "Roboto", sans-serif;
  background-color: #737373;
  color: #F8F5F5;
  padding: 1px 2px;
  text-align: center;
}

.navbar-toggler{
  font-family: "Roboto", sans-serif;
  color: #F8F5F5;
  border: solid;
  text-align: end;
}

.navbar-toggler-icon{
  color: #F8F5F5;
  text-align: end;
}

#nav-nav{
  background-color: #737373;
  color:#F8F5F5;
}

.dropdown-menu{
  background-color: #737373;
  color:#F8F5F5;
}

.container-fluid{
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  background-color: #737373;
  color: #F8F5F5;
  font-size: 1em;
  padding: 10px 20px;
  text-align: center;
  align-items: center;
}

.footer-container{
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  background-color: #737373;
  color: #F8F5F5;
  font-size: 1em;
  padding: 10px 20px;
  text-align: center;
  align-items: center;
}

footer{
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  background-color: #737373;
  color: #737373;
  font-size: 1em;
  padding: 10px 20px;
  text-align: center;
  align-items: center;

}

.list-foot{
  display: flex;
  font-size: 1em;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #737373;
  color: #F8F5F5;
  padding: 10px 20px;
  align-items: center;
}



}