@import url('https://fonts.googleapis.com/css2? familia = Arima: peso @ 200 &familia= Roboto:ital,peso@0,100;0,300;1,500 & display=swap');


//var fonts 

$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Arima', cursiva;

//sizes
$textSm:0.7em;
$textMd:1em;
$textLg:1.5em;
$textXl:3em;
