<!doctype html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=" Contamos con salas de ensayo totalmente equipadas 
    para tú comodidad"
    content=" Salas de Ensayo Guitarra Bateria Bajo Microno Piano">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!--mi css-->
<link rel="stylesheet" a href="./css/style.css">


    <title>Mad! Studio</title>
    <link rel="shortcut icon" href="../fotosmad/favicon.jpg">
         
</head>  

<!--inicio nav--> 
<body id="botonera" class="bg-black">

  <nav class="p-3 bg-dark text-white navbar navbar-expand-lg">
    <div class=></div>
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="../index.html">MAD!</a>
      <img scr="./madstudio/fotosmad/headp.svg" alt="logo">
    </a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-nav"> 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="../views/estudio.html">Estudio de Grabación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="./views/saladeensayo.html">Salas de Ensayo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clases
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="../views/guitarra.html">Guitarra</a></li>
              <li><a class="dropdown-item" href="../views/piano.html">Piano</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="../views/tecnica.html">Técnica Vocal</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light text-white" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- fin nav-->
  


<!--breadcrumb-->

<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb text-white">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="./estudio.html">Estudio</li>
    <li class="breadcrumb-item active" aria-current="./saladeensayo">Salas de Ensayo</li>
  </ol>
</nav>     
<!--fin breadcrumb preguntar si necesita ruta-->
 



<p>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      </h4>
</p>


    
<!-- inicio cards 1-->

<div class="row-py-3">
  <div>
    <div class="card col-sm-12 col-md-4">
      <img src="../fotosmad/guitar.jpg" class="img-fluid rounded-start" alt="curso guitarra">
      <button type="button" class="btn btn-outline-light ">Clase De Prueba</button>

    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Guitarra</h5>
        <p class="card-text">Lo que aprenderás.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div> <!--hacer button clase de prueba-->
</div>
 
 <!--ends card 1-->

<!--incio card2-->

<div class="row-py-3">
  <div>
    <div class="card col-sm-12 col-md-4">
      <img src="../fotosmad/bateria.jpg" class="img-fluid rounded-start" alt="curso bateria">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Bateria</h5>
        <p class="card-text">Lo que aprenderás.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>


<!--ends card 2-->

<!--inicio card 3-->
<div class="row-py-3">
  <div>
    <div class="card col-sm-12 col-md-4">
      <img src="../fotosmad/canto.jpg" class="img-fluid rounded-start" alt="curso técnica vocal">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Técnica Vocal</h5>
        <p class="card-text">Lo que aprenderás.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>

<!--ends card 3-->

<!--inicio card 4-->
<div class="row-py-3">
  <div>
    <div class="card col-sm-12 col-md-4">
      <img src="../fotosmad/piano.jpg" class="img-fluid rounded-start" alt="curso piano">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Piano</h5>
        <p class="card-text">Lo que aprenderás. Solicitá Tu Clase De Prueba</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>

<!--ends card 4-->

<!--inicio card 5-->
<div class="row-py-3">
  <div>
    <div class="card col-sm-12 col-md-4">
      <img src="../fotosmad/djset.jpg" class="img-fluid rounded-start" alt="curso dj">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">Dj</h5>
        <p class="card-text">Lo que aprenderás.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>

<!--ends card 5-->

<!--ends cards-->





<!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>